# Android Studio
.idea/
*.iml
hs_err_pid*.log
replay_pid*.log
local.properties

# Android build
.gradle/
build/
app/build/
captures/
.externalNativeBuild/
.cxx/

# Kotlin / Java
*.class
*.jar
*.aar

# Rust
core/target/
core/vaults-core/target/
core/vaults-cli/target/

# OS
.DS_Store
Thumbs.db
desktop.ini

# secure core salt and totp keys
vaults.salt
vaults.totp